/* src/App.css */

.app {
  padding-top: 60px; /* Adjust based on the height of the Navbar */
  box-sizing: border-box; /* Ensure padding doesn't affect layout */
}

footer {
  margin-top: auto; /* Push footer to the bottom */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
